<nav class="navbar navbar-expand-md navbar-dark mb-4" style= "background-color: #9521B3">
  <a class="navbar-brand" style="color:aliceblue">Staff Portal</a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" routerLink="/">Dashboard</a>
            <a routerLink="calendar" class="nav-link">Calendar</a>
          </li>
      </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a (click)="onLogout()"class="nav-link">Logout</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link">{{loggedInUser}}</a>
        </li>
    </ul>
  </div>
</nav>