<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink = "/" class = "btn btn-link">
      <i class= "fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink='/client/edit/{{ id }}'  class="btn btn-dark">Edit</a>
      <button (click)="onDelete()" class="btn btn-danger">Delete Client</button>
    </div>
  </div> 
</div>

<div *ngIf="client" class="card">
  <h3 class="card-header">{{client.memberName}}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h4>Client Id: {{ client.id }}</h4>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Guardians Name: {{client.guardianName}}</li>
      <li class="list-group-item">Guardians Phone: {{client.guardianPhone}}</li>
      <li class="list-group-item">Contact Email: {{client.email}}</li>
      <li class="list-group-item">Contact Phone: {{client.phone}}</li>
      <li class="list-group-item">Membership Type: {{client.membership}}</li>
    </ul>
  </div>

</div>
