<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink = "/" class = "btn btn-link">
      <i class= "fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
</div>


<div class="card">
  <div class="card-header">
    Add a New Member
  </div>

    <div class="card-body">
      <form #clientForm="ngForm"(ngSubmit)="onSubmit(clientForm)">
        <div class="form-group">
            <label class="memberName">Members Name</label>
            <input type="text"
            class="form-control"
            name="memberName"
            #clientMemberName="ngModel"
            [ngClass]="{'is-invalid':clientMemberName.errors && clientMemberName.touched}"
            [(ngModel)]="client.memberName"
            minlength="2"
            required
            >
            <div [hidden]='!clientMemberName.errors?.required' class='invalid-feedback'>Member Name is required</div>
            <div [hidden]='!clientMemberName.errors?.minlength' class='invalid-feedback'>Must be at least two names</div>
        </div>

        <div class="form-group">
            <label class="guardianName">Guardians Name</label>
            <input type="text"
            class="form-control"
            name="guardianName"
            #clientguardianName="ngModel"
            [ngClass]="{'is-invalid':clientguardianName.errors && clientguardianName.touched}"
            [(ngModel)]="client.guardianName"
            minlength="2"
            required
            >
            <div [hidden]='!clientguardianName.errors?.required' class='invalid-feedback'>Guardians Name is required</div>
            <div [hidden]='!clientguardianName.errors?.minlength' class='invalid-feedback'>Must be at least 2 names</div>
        </div>

        <div class="form-group">
            <label for="guardianPhone">Guardians Phone</label>
            <input 
             type="text"
             class="form-control" 
             [ngClass] = "{'is-invalid' : clientguardianPhone.errors?.required && clientguardianPhone.touched || clientguardianPhone.errors?.pattern}"
             [(ngModel)]="client.guardianPhone" name= "guardianPhone" #clientguardianPhone = "ngModel" required
             pattern = "\d{3}[\-]\d{3}[\-]\d{4}">
            <div *ngIf = "clientguardianPhone.errors?.required && clientguardianPhone.touched" class = "invalid-feedback">
              Phone is required
            </div>
            <div *ngIf = "clientguardianPhone.errors?.pattern && clientguardianPhone.touched" class = "invalid-feedback">
                Phone number is invalid, please include area code and dashes (xxx-xxx-xxxx)
              </div>
          </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input 
           type="email"
           class="form-control" 
           [ngClass] = "{'is-invalid' : clientEmail.errors?.required && clientEmail.touched || clientEmail.errors?.pattern}"
           [(ngModel)]="client.email" name= "email" #clientEmail = "ngModel" required 
           pattern= "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

          <div *ngIf = "clientEmail.errors?.required && clientEmail.touched" class = "invalid-feedback">
            Email address is required
          </div>
          <div *ngIf = "clientEmail.errors?.pattern && clientEmail.touched" class = "invalid-feedback">
              Email address is invalid
            </div>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input 
             type="text"
             class="form-control" 
             [ngClass] = "{'is-invalid' : clientPhone.errors?.required && clientPhone.touched || clientPhone.errors?.pattern}"
             [(ngModel)]="client.phone" name= "phone" #clientPhone = "ngModel" required
             pattern = "\d{3}[\-]\d{3}[\-]\d{4}">
            <div *ngIf = "clientPhone.errors?.required && clientPhone.touched" class = "invalid-feedback">
              Phone is required
            </div>
            <div *ngIf = "clientPhone.errors?.pattern && clientPhone.touched" class = "invalid-feedback">
                Phone number is invalid, please include area code and dashes (xxx-xxx-xxxx)
              </div>
          </div>

          <div class="form-group">
              <label for="membership">Membership Type</label>
              <select
              [ngClass] = "{'is-invalid' : clientMembership.errors?.required && clientMembership.touched}"
              [(ngModel)]="client.membership" name="membership" #clientMembership = "ngModel" class="form-control" required>
                <option *ngFor="let memType of memberships" [ngValue]="memType">{{memType}}</option>
                <div class="form-group">
                    <label for="membership">Membership Type</label>
                    <select
                    [ngClass] = "{'is-invalid' : clientMembership.errors?.required && clientMembership.touched}"
                    [(ngModel)]="client.membership" name="membership" #clientMembership = "ngModel" class="form-control" required>
                      <option *ngFor="let memType of memberships" [ngValue]="memType">{{memType}}</option>
                      <div *ngIf = "clientMembership.errors?.required && clientMembership.touched" class = "invalid-feedback">
                          Please choose a membership type.
                        </div>
                    </select>
                  </div>
              </select>
            </div>

        <input type="submit" value= "Submit" class= "btn btn-primary">
      </form>
  </div>
</div>